<h1>Add New Poem</h1>
<form class="new_poem" action="/new_poem" method="post">
  <label for="url">Enter New Yorker Poem URL</label>
  <input type="text" name="url" id="url" placeholder="Insert URL Here" />

  <input type="submit" value="Add Poem" />
</form>
